venv/
__pycache__/
app/__pycache__/main.cpython-39.pyc
app/__pycache__/main.cpython-39.pyc
pychace/
__pycache__
main.cpython-39.pyc
main.cpython-39.pyc
main.cpython-312.pyc
/__pycache__/
app/__pycache__/
*.pyc